.section-details{
    display: flex;
    justify-content: center;
    
    .details {
        list-style: none;

        .link{
            text-decoration: none;
        }
    
        .img-details {
          width: 335px;
          height: 332px;
          margin-top: 25px;
        }
    
        .div-details {
          background: rgb(191, 151, 66);
          height: 206px;
          color: rgb(247, 247, 247);
          padding-left: 15px;
          width: 320px;
    
          h3,
          p {
            margin: 0;
            font-size: 25px;
            text-transform: capitalize;
          }

          .properties{
            padding-top: 10px;

            .all{
              margin-top: 4px;
            }
          }
        }
      }
}

.return{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    color: rgb(247, 247, 247);
    padding-top: 60px;
}

