.ul-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-left: 0;


@media (max-width: 798px ) and (min-width: 488px){
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 487px){
    grid-template-columns: 1fr;
}

  .li-info {
    width: 255px;
    list-style: none;

    .links{
      text-decoration: none;
    }

    .image {
      width: 100%;
      height: 300px;
    }

    .info {
      background: rgb(191, 151, 66);
      bottom: 44px;
      height: 60px;
      position: relative;
      color: rgb(247, 247, 247);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 15px;

      h3,
      p {
        margin: 0;
        font-size: 25px;
        text-transform: capitalize;
      }
    }
  }
}

